.img{
    
    transform: translateY(-30px);
    animation: flutuar 2.5s infinite;

}


@keyframes flutuar{
    0%{
        transform:translateY(0);
    }
    50%{
        transform: translateY(-10px);

    }
    100%{
        transform: translateY(0);
    }
}
